@charset "utf-8";
/***** -----   Initialization   -----*****/
html * {-webkit-outline: none;outline: 0;-webkit-tap-highlight-color: rgba(0,0,0,0);}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,iframe{display:block}
iframe,fieldset,img,button,input{border:0}
input,button,select,textarea{outline:none;border:none;background:transparent;-webkit-appearance: none;font-size:100%}
input{border-radius:0}
body{overflow-x:hidden;min-width:320px;font-family:"Microsoft YaHei";background:#fff;color:#333;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-font-smoothing:subpixel-antialiased;-moz-user-select:none;-webkit-touch-callout:none;-webkit-user-select:none}
input::-webkit-input-placeholder{color:#999!important}
input:-moz-placeholder{color:#999!important}
input::-moz-placeholder{color:#999!important}
input:-ms-input-placeholder{color:#999!important}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
table{border-collapse:collapse;border-spacing:0}
address,cite,dfn,em,var,i{font-style:normal;font-weight:normal}
del{text-decoration:line-through}
ol,ul,li{list-style:none}
i,s,em,u{font-style:normal; text-decoration:none;}
h1,h2,h3,h4,h5,h6 {font-weight:normal; padding: 0; margin: 0;}
a{text-decoration: none;cursor:pointer;}
a:hover{text-decoration: none;}
.clearfix:after,.c:after{content:".";display:block;font-size:0;height:0;clear:both;visibility:hidden}
.clearfix,.c{zoom:1}
.fl{float: left;}
.fr{float: right;}
.clear{clear: both;}
.dn,.dsn{display:none;}
.db{display:block;}
.por{position: relative;}
.poa{position: absolute;}
.pof{position: fixed;}
.bgwhite{background-color: #ffffff;}
.tplj{display: block;width:100%;height: 100%;}
.fixbottom{position: fixed;bottom: 0;z-index: 55;}
.ovh{overflow:hidden;}
:focus{outline:0}

html{font-family:Arial,"微软雅黑";font-size: 100px;}
body{font-size: .3rem;background: #eeeeee;}

/***** -----   Ending Initialization   -----*****/

.wrap{max-width: 7.5rem;margin:0 auto;padding-bottom: 1.5rem;background: url(../imgs/jyfw_bg_header.jpg) no-repeat top center;background-size: 7.5rem 4.15rem;}

.titleBox{margin-bottom: .8rem;padding-top: .65rem;text-align: center;}
.titleBox h2{height: .74rem;line-height: .74rem;font-size: .6rem;font-weight: bold;color: #fff;}
.titleBox p{width: 2.62rem;height: .4rem;line-height: .4rem;margin:.15rem auto 0;font-size: .24rem;color:#f04f00;border-top-right-radius: .2rem;border-bottom-left-radius: .2rem;background: #fffcf8;}
.conBox{width: 7.16rem;height: 2.82rem;margin:0 auto .3rem;padding-top: .7rem;text-align: center;border-radius: .15rem;background: #fff;
-moz-box-shadow:0 .05rem .2rem #e7e7e7;
-webkit-box-shadow:0 .05rem .2rem #e7e7e7;
box-shadow:0 .05rem .2rem #e7e7e7;
}
.conBox:nth-of-type(2){background: #fff url(../imgs/jyfw_bg_01.jpg) no-repeat bottom left;background-size: 3.06rem 3.5rem;}
.conBox:nth-of-type(3){background: #fff url(../imgs/jyfw_bg_02.jpg) no-repeat bottom left;background-size: 2.89rem 3.49rem;}
.conBox h3{height: .56rem;line-height: .56rem;margin-bottom: .24rem;font-size: .4rem;font-weight: bold;color: #ff7500;}

.telNo{display: block;width: 5.75rem;margin:0 auto;border-radius: .2rem;
    background: -webkit-linear-gradient(#f4f4f4,#e6e6e6);
    background: -o-linear-gradient(#f4f4f4,#e6e6e6);
    background: -moz-linear-gradient(#f4f4f4,#e6e6e6);
    background: -ms-linear-gradient(#f4f4f4,#e6e6e6);
    background:linear-gradient(#f4f4f4,#e6e6e6);
}

.txtBox{float: left;width: 4.53rem;height: 1.06rem;padding-top: .18rem;color: #fff;border-top-left-radius: .2rem;border-bottom-left-radius: .2rem;
    background: -webkit-linear-gradient(#ffb12b,#ff7822);
    background: -o-linear-gradient(#ffb12b,#ff7822);
    background: -moz-linear-gradient(#ffb12b,#ff7822);
    background: -ms-linear-gradient(#ffb12b,#ff7822);
    background: linear-gradient(#ffb12b,#ff7822);
    -moz-box-shadow:0 .05rem .2rem #eed2c0;
    -webkit-box-shadow:0 .05rem .2rem #eed2c0;
    box-shadow:0 .05rem .2rem #eed2c0;
}
.txtBox p{line-height: .44rem;margin-bottom: .04rem;font-size: .26rem;}
.txtBox p em{font-size: .36rem;}
.txtBox .mt22{margin-top: .22rem;}

.icon_tel{overflow: hidden;float: right;width: 1.22rem;height: 1.24rem;}
.icon_tel img{width: .78rem;height: .78rem;margin: .23rem auto 0;}

.tipsTxt{padding:0 .4rem;}
.tipsTxt h3{height: .42rem;line-height: .42rem;font-size: .24rem;color: #ec2700;}
.tipsTxt p{height: .34rem;line-height: .34rem;font-size: .18rem;color: #222222;}
